@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
html,
body{
	min-height: 100%;
	padding: 40px 0;
}
body{
	color: #fff;
	background: url('../img/Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
body .content .description-section {
	text-align: left;
	padding-right: 30%;
}
.contacts-section a{
	color: inherit;
}
.contacts-section a:hover{
	color: inherit;
}
.description-section h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 40px;
}

.description-section p:nth-of-type(1),
.description-section {
	margin-bottom: 25px;
	display: inline-block;
	width: 100%;
}
.contact-info{
	margin-top: 40px;
	display: inline-block;
	width: 100%;
}

.footer {
	margin-top: 60px;
	display: inline-block;
	font-size: 80%;
	width: 100%;
}

@media screen and (max-width: 768px){
	body .content .description-section{
		padding-right: 0;
	}
	body{
		    background-position: calc(50% - 70px) center;
	}
	.contact-info a:nth-of-type(2){
		display: block;
	}
}
