{{ define "head" }}
	<style>.bg-img {background-image: url('{{ .Site.Params.bgImg }}');}</style>
{{ end }}

{{ define "main" }}
	{{- if .Site.Params.bgImg }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		<div id="home-footer">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
			</p>
		</div>
	</div>
{{ end }}
